#q_control, #a_control {
  background-color: DeepSkyBlue;
  border:2px solid Indigo;
  max-width: 500px;
  min-height: 300px;
  margin-top: 5px;
}

#question, #answer {
  color: HoneyDew;
  font-size: 30px;
}
#block_quote {
  text-indent: 50px;
}
#keyword {
  font-weight: bold;
}
h3 {
  font-weight: bold;
}